<form class="form">

    <div class="dropdown">
        <input type="text" class="search-input" placeholder="Search for...">
        <button type="submit" class=" btn btn-primary">Search</button>
        <div class="drop-area"></div>
    </div>

</form>

  <div class="row article"></div>





