



<form class="form">
  <div class="input-group input-group-lg">
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit">Go!</button>
  </span>
  <input type="text" class="form-control" placeholder="Search for...">
</div><!-- /input-group -->
</form>

<div class="row article"></div>

<div class="dropdown">
  <input class="btn btn-default dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  </input>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>



