<h2>Sign In</h2>
<p>Sign in for The The Next below...If you have not registered yet, please <a href="/register">Register </a></p>
<form action="/signIn" method="post">

  <div class="form-group">
    <label for="exampleInputEmail1">Sign In with Email</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-inverse btn-lg">Sign In</button>
</form>
<br>
